{{ ansible_managed | comment }}
# https://www.rabbitmq.com/configure.html#environment-env-file-unix
#
RABBITMQ_USE_LONGNAME={{ rabbitmq_use_longname }}
RABBITMQ_NODE_PORT={{ rabbitmq_node_port }}
ERL_EPMD_PORT={{ rabbitmq_epmd_port }}
